<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ng-container *ngFor="let menu of (menuMetadata$ | async)">
          <ul *ngFor="let items of menu.item" class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                {{items.title}}
              </a>
            </li>
          </ul>

        </ng-container>
      </div>
    </nav>
  </div>
</div>