#sidebarMenu {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 100;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.nav-link{
  color: $text-color;
}

.procejts-item{
  list-style: none;
}
