.slidebar-menu {
  width: 300px;
  height: calc(100% - 60px);
  position: fixed;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (max-width: 768px) {
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 60px);
  }
}

.nav-link {
  color: $text-color;
}

.procejts-item {
  list-style: none;
}

.btn-link {
  color: $text-color;
  border: none;
  &:hover {
    text-decoration: none !important;
  }
}

.project-content {
  font-size: 18px;
}

.pdf-link {
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}
