#sidebarMenu {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 100;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.nav-link{
  color: $text-color;
}

.procejts-item{
  list-style: none;
}

.btn-link{
  color: $text-color;
  border: none;
  &:hover{
    text-decoration: none !important;
  }
}

.project-content{
  font-size: 18px;
}

.pdf-link{
  color: $link-color;
  &:hover{
    text-decoration: none;
  }
}
