.navbar {
  background-color: $navigation-color;
  height: 60px;
}

.nav-item {
  color: $text-color-ligth;
  margin: 0 10px 0 10px;
}

.navbar-toggler {
  .nav-icon {
    color: $text-color-ligth;
  }
  border: none;
  height: 50px;
}

.navbar-nav {
  color: $text-color-dark;
}
